#page h1{text-align: center;}
#cat-photo{
	width:700px;
	height:500px;
	margin-left:27.5%;
}
button{
	margin-left: 27.5%;
}
#Cat-Fact{
	margin-left: 27.5%;
}

@media(max-width:320px){
	#page{
/*		background-color: yellow;*/
		width:210%;
	}
	#cat-photo{margin-left: 15px; width:600px;}
	#Cat-Fact{margin-left: 0px;}
	button{margin-left: 0px;}
	#buttons{display:flex; gap:495px;
}